<!-- <%= cl_image_tag("ilu_landing_page2_ycy9dv",
      width: 400, height: 300, crop: :fill) %> -->

<div>
  <%= image_tag "https://res.cloudinary.com/div6oduuz/image/upload/v1692925270/ilu_landing_page2_ycy9dv.png", class: "ilu_landing_page", alt: "people sharing cameras" %>
  <div class="centered">

  <h1><i class="fa-solid fa-heart fa-beat-fade fa-xs" style="color: #e63946;"></i> Own a million Cameras.</h1>
  <h1>without spending a single penny.</h1>
  <br>
  <h4>Lend and borrow cameras. Earn pixelKarma.</h4>
  <br>
  <p>Please <%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Log in", user_session_path%> to see the best cameras in town.</p>

  </div>
</div>

<%# <%= user_signed_in? %>
<%# <%= current_user.name %>
