
<%= simple_form_for(@camera) do |form| %>

  <div class="form-inputs">
    <%= form.input :type %>
    <%= form.input :brand %>
    <%= form.input :address %>

  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
</div>
