<div class="container mt-4">
<!--<div class="row justify-content-left">
  <div class="col-sm-12 my-3">
    <%= form_with url: cameras_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>-->
  <h1><strong>Choose a camera!</strong></h1>
  <p>We have all this available shares:</p>
  <hr>
  <div class="d-flex justify-content-between">
    <% if @cameras.any? %>
      <div class="row">
        <% @cameras.each do |camera| %>
        <div class="col-3 mb-4">
          <div class="card border-0" style="width: 19.5rem;">
            <% if camera.photo.present? %>
              <%= cl_image_tag camera.photo.key, crop: :fill, class: "card-img-top", style: "height:250px; object-fit:cover; border-radius: 30px 30px 0px 0px;" %>
            <% else %>
              <img class="card-img-top " style="border-radius: 30px 30px 0px 0px;" src="height:250px; object-fit:cover; https://d39l2hkdp2esp1.cloudfront.net/img/photo/35737/35737_00_2x.jpg" alt="Card image cap">
            <% end %>
          <div class="card-box text-white">
            <h4><%= link_to camera.brand, camera, class: "text-decoration-none text-white"%></h4>
            <p><%= camera.camera_type %></p>
            <h5><%= camera.address %></h5>
            <p><%= camera.user.first_name %> <%= camera.user.last_name %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <em>Sorry, no cameras found.</em>
    <% end %>
    </div>
  </div>

  <h1><strong>Search a camera near you</strong></h1>
  <p>Type a location</p>
   <hr>
  <div id="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<!--<%= image_tag "https://i.pinimg.com/1200x/40/c1/d8/40c1d8caa349faa3aa1c65f5916f146c.jpg", class: "avatar-med" %>
-->
