<br>
<br>
<div><h1>All Cameras</h1>
  <p>List of all currently available cameras:</p>
  <h4><%= link_to "add new camera", "/cameras/new"%></h4>
</div>

<div class="container-fluid d-flex justify-content-between">
  <hr>
  <% @cameras.each do |camera| %>
  <div class="card" style="width: 18rem;">

  <%= image_tag("https://source.unsplash.com/random", :class => "card-img-top") %>
  <div class="card-body">
  <br>

  <h4 class="card-title"><%= link_to camera.brand, camera%></h4>
  <h6><%= camera.camera_type %></h6>
  <h6><%= camera.address %></h6>
  <h6><%= camera.user.first_name %> <%= camera.user.last_name %></h6>

  <hr>
  </div>
  </div>
  <% end %>

</div>
