
<div class="container">
<%= cl_image_tag @camera.photo.key, height: 300, width: 400, crop: :fill %>
  <br>
  <br>
  <p>you selected a:</p>
  <h1><%= @camera.brand %> camera <%= link_to "< Book me!", edit_camera_path, :class => "btn btn-outline-primary"  %></h1>

  <h5>brand: <%= @camera.brand %></h5>
  <h5>type: <%= @camera.camera_type %></h5>
  <h5>address: <%= @camera.address %></h5>
  <h5>owner: <%= @camera.user.first_name %> <%= @camera.user.last_name %></h6>

  <br>
  <%= link_to "> Back to listings", cameras_path, :class => "btn btn-dark text-white btn-sm"  %>
  <%= link_to "Edit camera", edit_camera_path, :class => "btn btn-primary text-white btn-sm "  %>
  <%= link_to "Delete camera", camera_path, :class => "btn btn-danger text-white btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
  <br>
  <br>

</div>
